header{
    width: flex;
}

#header -logo_menu{
    width: 10%;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
}
.pic{
    width: 20px;
    height: 20px;
}

.logo_menu{
    width: 20%;
    height: 20%;
  }

.pic2{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}

@media (max-width: 390px) {
    .pic2{
        width: 50%;
        height: 350px;
        display: flex;
        justify-content: center;
    }
  }

  @media (max-width: 750px) {
    .pic2{
        width: 50%;
        height: 500px;
        display: flex;
        justify-content: center;
    }
  }